# uv pip install -r requirements.txt --system --prerelease=allow
anthropic[vertex]==0.72.0
google-adk[a2a]==1.19.0
a2a-sdk[http-server]==0.3.16
mcp==1.19.0
agent-framework==1.0.0b251120
agent-framework-a2a==1.0.0b251120
langchain-mcp-adapters==0.1.11
langgraph==1.0.2
langchain[openai]==1.0.2
google-auth==2.42.0
beeai-framework[a2a,vertexai]==0.1.70
