# This file represents the template for the .env file you can
# create if you want to run the code locally.
# The variables are already defined in this environment.

# ID of the folder containing the invoices
BOX_FOLDER_ID=

# Credentials of the Box account
# You can check this authentication guide:
# https://developer.box.com/guides/authentication/select/
BOX_CLIENT_ID=
BOX_CLIENT_SECRET=
BOX_SUBJECT_ID=
BOX_SUBJECT_TYPE=enterprise

# Gemini API key
# https://aistudio.google.com/apikey
GEMINI_API_KEY=
